h1{
    color:blue;
}

/* *{
    border: solid;
} */
.header{
    
    
    display: flex;
    justify-content: space-between;
    background-color: #15301a;
    padding:15px;
    font-size:20px;
    font-family:sans-serif;
    font-weight: 400;
    color: #0c0549;
    border: 2px solid #829cac;
    border-radius:50px;
}

.grid{
    background-color: #f1caaa;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #829cac;
    border-radius:50px;
}